.bg-purple {
  background-color: #40189d;
}

.top-left-circle {
  top: 70px;
  left: 150px;
}

.bottom-right-circle {
  bottom: 70px;
  right: 150px;
}

.custom-login-btn {
  background-color: #40189d;
  color: white;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.custom-login-btn:hover {
  background-color: #2c0f77;
  color: white;
}
